/* styles.css */
* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

nav {
  background-color: #333;
  color: white;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

nav li {
  margin: 0;
}

nav a {
  text-decoration: none;
  color: red;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  width: 100%;
  position: fixed;
  bottom: 0;
}
.page-content {
  padding-bottom: 120px;
}

/* Responsive menu start */

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle span {
  height: 3px;
  width: 25px;
  background-color: #fff;
  margin: 5px 0;
  display: block;
  transition: 0.3s; /* Add a smooth transition effect */
  align-self: flex-end;
}

/* Rotate the first and third spans to create an "X" */
.menu-toggle.open span:nth-child(1) {
  transform: rotate(-45deg) translate(-10px, 8px);
}

.menu-toggle.open span:nth-child(2) {
  opacity: 0; /* Hide the middle line when the menu is open */
}

.menu-toggle.open span:nth-child(3) {
  transform: rotate(45deg) translate(-10px, -8px);
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin-right: 15px;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: flex;
  }

  .nav-links {
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    background-color: #333;
    width: 100%;
    text-align: center;
    display: none;
  }

  .nav-links.open {
    display: flex;
  }

  .nav-links li {
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid #555;
  }
}

/* Responsive menu end */